body{
    display: flex; 
    align-items: center;
    
}

.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('https://www.nationalgeographic.com.es/medio/2022/09/16/selva-tropical-amazonica-ecuador_135ea5a5_1280x853.jpg');
    align-items: center;
    justify-content: center;
}


.contenido{
    display: grid;
    width: 500px;
    max-width: 500px;
   font-size: 1.5em;
    color: rgb(246, 242, 245);
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(0, 0, 0, 0.307);
    border-radius: 1em;
    padding: 1em;
}

.contenidotitulo {
    display: grid;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.contenidotemp {
    display: grid;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template-rows: 8rem 2rem;
}
.contenidotemp h2 {
    padding: 0;
    margin: 0;
}

.contenidoboton {
    display: grid;
    align-items: center;
    justify-content: center;
}


.contenidoboton button {
    width: 8rem;
    height: 3rem;
    background-color: rgb(71, 71, 200);
    border-radius: 1em;
}

.contenidoboton button:hover{

    cursor: pointer;
    background-color: green;
    transition-delay: initial;
}

.contenido__info {
    display: grid;
    align-items: center;
    justify-content: center;
}


